* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown-color: #2E2A24;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.elem-list {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px;
    gap: 12px;
}
.elem-list p {
    width: 100%;
}

p.elem-text {
    width: 89%;
}

.icon {
    display: block;
}

.divide {
    padding: 12px;
}

