<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список дел</title>
    <link rel="stylesheet" href="/access/style/style.css">
</head>

<body>
    <header>
        <p class="htitle">Список дел</p>
        <p class="logout">Выйти</p>
    </header>
    <main>
        <div class="input-task elem-list">
            <p class="elem-text" contenteditable="true" >Напишите</p>
            <div class="add">
                <img src="/access/icon/icon-add.png" alt="" class="icon">
            </div>
        </div>
        <div class="place_non_conplite">
            <div class="elem-list">
                <div class="checkbox">
                    <img src="/access/icon/icon-uncheck.png" alt="" class="icon">
                </div>
                <p class="elem-text">Проснулся</p>
                <div class="remove">
                    <img src="/access/icon/icon-del.png" alt="" class="icon">
                </div>
            </div>
        </div>
        <p class="text divide">Выполненные</p>
        <div class="place_conplite">
            <div class="elem-list">
                <div class="checkbox">
                    <img src="/access/icon/icon-check.png" alt="" class="icon">
                </div>
                <p class="elem-text">Проснулся</p>
                <div class="remove">
                    <img src="/access/icon/icon-del.png" alt="" class="icon">
                </div>
            </div>
        </div>
    </main>
</body>

</html>